<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Microsoft.ProductionDiagnostics.DiagnosticAnalysis" value="https://pkgs.dev.azure.com/devdiv/DevDiv/_packaging/Microsoft.ProductionDiagnostics.DiagnosticAnalysis/nuget/v3/index.json" />
  </packageSources>
</configuration>
